.result__album-title {
    margin: 15px auto 30px;
    font-family: roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}

.result__album-title:hover {
    color: green;
}